$FontMedium: "HelveticaMedium";
$FontBold: "HelveticaBold";
$FontThin: "HelveticaThin";

$backColor: #ECECEC;
$btnkHover: #CCCCCC;
$white: white;
$black: black;
$colorRemoveBtn: rgba(0, 0, 0, 0.61);
$placeholder: #808080;
