@font-face {
	font-family: HelveticaMedium;
	font-display: swap;
	src: url("../fonts/HelveticaMedium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HelveticaBold;
	font-display: swap;
	src: url("../fonts/HelveticaBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HelveticaThin;
	font-display: swap;
	src: url("../fonts/HelveticaThin.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
